/*CSS DE LA SUBPAGINA DE ABOUT, default*/
body {
    overflow: auto;
    
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px 20px;
    transition: transform 0.3s ease;
}
.nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links a:hover {
    transform: translateY(-5px);
}
.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7%;
    background: #375f37;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 52;
    opacity: 1;
}
#central {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0;
    border-bottom: 0.2rem solid white;

}


/* Codigo principal*/

.main_container {
    display: flex;
    height: 300vh;
    width: 100vw;
    

}

img {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main_flex {
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    padding: 1rem;
    color: rgb(0, 0, 0);
    padding: 3rem;
    margin: 0;
}

.left {
    flex-basis: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10vw;
    font-size: 4vw;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    position: sticky;
    top: 0;
}

.right {
    flex-basis: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
}

.card {
    width: 350px;
    height: 350px;
    border-radius: 2rem;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    transition: 0.5s ease-in-out;
}

.subtitle {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.subbody {
    position: absolute;
    font-family: "Inter", sans-serif;
    bottom: 0;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 2.5rem;
}

.card:nth-child(1) {
    background-color: rgb(0, 110, 255);   /* azul */
}

.card:nth-child(2) {
    background-color: rgb(0, 200, 100);   /* verde */
}

.card:nth-child(3) {
    background-color: rgb(255, 180, 0);   /* naranja */
}

.card:nth-child(4) {
    background-color: rgb(200, 50, 50);   /* rojo */
}

.invis_container {
    position: relative;
    height: 280px;
    width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}